.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page img {
  width: 20vw;
}

.header-text {
  font-size: 3.5rem;
  text-align: center;
}

.tag-text {
  font-size: 1.5rem;
  text-align: center;
}

.sub-tag-text {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started-btn,
.break-btn {
  background-color: #36418A;
  border: 0.25rem solid #717FD0;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 2.5rem;
  margin: 1rem;
}

.get-started-btn:hover,
.break-btn:hover {
  background-color: black;
  border: 0.25rem solid #AF7D30;
  padding: 1rem 3.5rem;
}