.api-card {
  align-items: center;
  background-color: white;
  border: 0.25rem solid #DCB33C ;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  padding: 2rem;
  text-align: center;
  width: 20rem;
}