/* refactor with breakpoints for responsive/mobile friendly display! */

.apis-remain-text {
  font-size: 2rem;
  display: block;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.api-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
}