.saved-apis-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.saved-search {
  border: 0.25rem solid #AF7D30;
  font-family: Verdana, sans-serif;
  font-size: 0.9rem;
  padding: 0.25rem;
  height: 1.5rem;
  width: 45vw;
  margin: 1rem;
}

.hidden {
  display: none;
}

.saved-api-grid {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  justify-content: space-around;
}

.no-saved-text {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (max-width: 50em) {
  .saved-search {
    width: 60vw;
  }
}