.api-search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyword-input {
  border: 0.25rem solid #AF7D30;
  font-family: Verdana, sans-serif;
  font-size: 0.9rem;
  padding: 0.25rem;
  margin-top: 1rem;
  height: 1.5rem;
  width: 45vw;
}

.clear-search-btn {
  margin-top: 1rem;
}